<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.6.2" package="com.ferretcorp.easymath" android:versionCode="7">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:label="EasyMath" android:icon="@drawable/ic_launcher"></application>
</manifest>